body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  text-align: center;
 
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

header nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}

section {
  padding: 20px;
  text-align: center;
  background-color: lightcyan;
}

section h2 {
  margin-top: 0;
  text-align: center;
}

section ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section li {
  width: calc(33.33% - 40px);
  background-color: #fff;
  padding: 20px;
  text-align: center;
  margin: 20px;
  box-shadow: 0 0 10px #ccc;
}

section li img {
  width: 150px;
  height: 200px;
  margin: 0 auto 20px;
  display: block;
}
